<div class="article">
  <h3>
    <%= link_to article.title, article %>
    <%= verbose_date(article.published_at) %>
    <% if article.owned_by? current_user %>
        <span class="actions">
            <%= link_to 'Edit', edit_article_path(article) %>
            <%= link_to 'Delete', article, data: {confirm: 'Are you sure?'}, method: :delete %>
        </span>
    <% end %>
    
  </h3>
    <hr>
    <div class="image">
        <% if article.cover_image.attached? %>
            <%= link_to article do %>
                <%= image_tag article.cover_image.variant(resize_to_limit: local_assigns.fetch(:cover_image_options, [1024, 1024])) %>
            <% end %>
        <% end %>
    </div>
    <hr>
    <% if current_page?(root_path) %>
        <%= article.excerpt %>
    <% else %>
        <%= article.body %>
    <% end %>
  
</div>