<!DOCTYPE html>
<html>
  <head>
    <title><%= t("general.title") %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('theartoftravelling-favicon-192x192.png') %>
  </head>

  <body>
    <div id="header">
      <%= link_to root_path do %>
        <%= image_tag 'theartoftravelling-logo-black-text-1000x275.svg', alt: 'The Art of Travelling' %> 
      <% end %>
      <div id="lang-selector">
        <%= language_selector %>
      </div>
      <div id="user_bar">
        <% if logged_in? %>
          <%= link_to t("articles.new_article"), new_article_path %> |
          <%= link_to t("users.edit_password"), edit_user_path(current_user) %> |
          <%= link_to t("sessions.logout"), logout_path %>
        <% else %>
          <%= link_to t("sessions.login"), login_path %>
        <% end %>
      </div>
    </div>
    <div id="main">
      <%= content_tag :p, notice, class: 'notice' if notice.present? %>
      <%= content_tag :p, alert, class: 'alert' if alert.present? %>
      <%= yield %>
    </div>
    <div id="footer">
      <%= t("general.footer") %>
    </div>
  </body>
</html>
